In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import un, pw, uri, port
import pymysql

In [2]:
pymysql.install_as_MySQLdb()

### Store Home Ownership CSV into DataFrame

In [3]:
file1 = "homeownership-rate-for-the-united-states_1.csv"
owner_df = pd.read_csv(file1)
owner_df.head()

   value        date realtime_end realtime_start
0   64.5  1984-01-01   2018-11-16     2018-11-16
1   63.9  1985-01-01   2018-11-16     2018-11-16
2   63.8  1986-01-01   2018-11-16     2018-11-16
3   64.0  1987-01-01   2018-11-16     2018-11-16
4   63.8  1988-01-01   2018-11-16     2018-11-16

### Create new data with select columns

In [4]:
clean_owner_df = owner_df[['value', 'date']].copy()
clean_owner_df.head()

   value        date
0   64.5  1984-01-01
1   63.9  1985-01-01
2   63.8  1986-01-01
3   64.0  1987-01-01
4   63.8  1988-01-01

### Store Population CSV into a DataFrame

In [5]:
file2 = "national-population.csv"
population_df = pd.read_csv(file2)

#remove uneeded columns
clean_population_df = population_df[['value', 'date']].copy()
clean_population_df.head()

      value        date
0  76094000  1900-01-01
1  77584000  1901-01-01
2  79163000  1902-01-01
3  80632000  1903-01-01
4  82166000  1904-01-01

### Connect to local database

In [6]:
rds_connection_string = f"{un}:{pw}@{uri}:{port}/home_pop"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [7]:
engine.table_names()

['home', 'pop']

### Use pandas to load csv converted DataFrame into database

In [ ]:
clean_population_df.to_sql(name='population', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
clean_owner_df.to_sql(name='home_ownership', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from population', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from home_ownership', con=engine).head()