In [60]:
import pandas as pd
import requests
import discogs_client

api_key = 'MEfMKxvFBtpPlpGyqgxMojEcgaLHWnfuazRHdWPv'

In [61]:
d = discogs_client.Client('BranDunn', consumer_key=None, consumer_secret=None, token=None, secret=None, user_token=api_key)

In [62]:
results = d.search('Stockholm By Night', type='release')
print(results)

<discogs_client.models.MixedPaginatedList object at 0x00000178F4C27B00>

In [69]:
album1 = results[0]

In [70]:
album1.title

'The Persuader - Stockholm By Night'

In [71]:
def datagetter(album_name, client=d):
    #query discogs api
    # unpack
    try:
        return pd.Series([album_name, album1.release,3,5])
    except:
        return pd.Series(['nan','na','na','na'])

In [72]:
df = pd.DataFrame([['Stockholm By Night', 1],
                  ['Thriller',2]], columns=['album', 'other'])

In [73]:
album_info = df.album.apply(datagetter )

In [74]:
pd.merge(df, album_info, left_on=['album'], right_on=[0])

Empty DataFrame
Columns: [album, other, 0, 1, 2, 3]
Index: []